<!DOCTYPE html>
<html>
    <head>
        <title>Menú - The Foundation</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="Movies/Templates/css/menu.css" rel="stylesheet">
        <script src="https://cdn.auth0.com/js/auth0-spa-js/1.19/auth0-spa-js.production.js"></script>
        <script src="scripts/check_auth.js"></script>
        <script src="scripts/user-menu.js"></script>
    </head>
    <body>
        
        
        <script>
            const changeOption = () => {
                let Search = document.getElementById('slcType');
                    if(Search.value == '3' || Search.value == '4'){
                        document.getElementById('PValor').style.display = 'none';
                        document.getElementById('PMin').style.display = 'block';
                        document.getElementById('PMax').style.display = 'block';
                    }else{
                        document.getElementById('PValor').style.display = 'block';
                        document.getElementById('PMin').style.display = 'none';
                        document.getElementById('PMax').style.display = 'none';
                    }
            }
            window.addEventListener("load", async () => {
                document.getElementById("slcType").value = "1";
            },false);
        </script>
        
        <br><h1>Seleccione el filtro que desea aplicar</h1>

        <form id="frmBusqueda">
            Tipo de filtro: 
            <select id="slcType" name = "Tipo" onchange= "changeOption()" >
                <option value="1">Id</option>
                <option value="2">Título original</option>
                <option value="3">Popularidad</option>
                <option value="4">Duracion</option>
            </select>
                <p id = "PValor">Valor: <input type="text" name="Valor"></p>
                <p id = "PMin" style = "display:none">Mínimo: <input type="number" name="Min"></p>
                <p id = "PMax" style = "display:none">Mínimo: <input type="number" name="Max"></p>
            <input type="submit" name="Aceptar">
        </form>
        <br>
        <div id="result" width=600 height=350>
            
        </div>

        <script src="scripts/Manage-search.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>