<!DOCTYPE html>
<html>
    <head>
        <title>The Foundation - Welcome - Bienvenido</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" href="./Movies/Templates/assets/images/logo.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link href="./css/nav-menu.css" rel="stylesheet">
        <link href="./css/statistics-menu.css" rel="stylesheet">
        
        <script src="https://cdn.auth0.com/js/auth0-spa-js/1.19/auth0-spa-js.production.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        
        <script src="./scripts/Utilities.js"></script>
        <script src="./scripts/Views/user-menu.js"></script>
        <script src="./scripts/Views/Manage-statistics.js"></script>
        
    </head>
    <body>
      <div class="container-fluid" style="height: 100vh;padding: 0px 0px 0px 0px;">
        <div class="row no-gutters h-100 mt-lg-6 mt-md-4 mt-sm-2 mt-xs-0">
          <div class = "col-md-2 col-sm-12">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action list-group-item-dark active" id="list-genre-list" data-toggle="list" href="#Genres" role="tab" aria-controls="genres">Géneros</a>
              <a class="list-group-item list-group-item-action list-group-item-dark" id="list-companies-list" data-toggle="list" href="#Companies" role="tab" aria-controls="actors">Compañías productoras</a>
              <a class="list-group-item list-group-item-action list-group-item-dark" id="list-languages-list" data-toggle="list" href="#Languages" role="tab" aria-controls="languages">Lenguajes</a>
              <a class="list-group-item list-group-item-action list-group-item-dark" id="list-populargenres-list" data-toggle="list" href="#PopularGenres" role="tab" aria-controls="popularGenres">Popularidad de generos</a>
              <a class="list-group-item list-group-item-action list-group-item-dark" id="list-runtime-list" data-toggle="list" href="#Runtime" role="tab" aria-controls="runtime">Duración</a>
              <a class="list-group-item list-group-item-action list-group-item-dark" id="list-keywords-list" data-toggle="list" href="#Keywords" role="tab" aria-controls="keywords">Palabras clave</a>
              <a class="btn btn-primary" id="DownloadLink" download="" href="/" role="button">
                Descargar
              </a>
            </div>
          </div>
          <div class = "col-md-10 col-sm-12">
            <div class="tab-content h-100" id="nav-tabContent">
              
              <div class="tab-pane fade show active h-100" id="Genres" role="tabpanel" aria-labelledby="list-genre-list">
                <div id="GenresChart" class="h-100 mr-lg-5 mr-md-3 mr-sm-0"></div>
              </div>
              <div class="tab-pane fade h-100" id="Companies" role="tabpanel" aria-labelledby="list-companies-list">
                <div id="CompaniesChart" class="h-100 mr-lg-5 mr-md-3 mr-sm-0"></div>
              </div>
              <div class="tab-pane fade h-100" id="Languages" role="tabpanel" aria-labelledby="list-languages-list">
                <div id="LanguagesChart" class="h-100 mr-lg-5 mr-md-3 mr-sm-0"></div>
              </div>
              <div class="tab-pane fade h-100" id="PopularGenres" role="tabpanel" aria-labelledby="list-populargenres-list">
                <div id="PopularGenresChart" class="h-100 mr-lg-5 mr-md-3 mr-sm-0"></div>
              </div>
              <div class="tab-pane fade h-100" id="Runtime" role="tabpanel" aria-labelledby="list-runtime-list">
                <div id="RuntimeChart" class="h-100 mr-lg-5 mr-md-3 mr-sm-0"></div>
              </div>
              <div class="tab-pane fade h-100" id="Keywords" role="tabpanel" aria-labelledby="list-keywords-list">
                <div id="KeywordsChart" class="h-100 mr-lg-5 mr-md-3 mr-sm-0"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
                
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
