body{
    background-color:rgb(59, 50, 50);
    background-image:url("https://besthqwallpapers.com/Uploads/4-5-2020/131705/thumb2-gray-abstraction-background-gray-background-with-gold-lines-black-background-luxury-backgrounds.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}